In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('Tourism.db')

In [3]:
c = conn.cursor()

In [7]:
c.execute('CREATE TABLE Tourism_2018(Quater, Visitors Country, Stay Duration, Purpose of Trip, Visits_000s, Spend_â‚¬m)')
conn.commit()

In [9]:
c.execute("SELECT name FROM sqlite_master")
c.fetchall()

[('Tourism_2018',)]

In [ ]:
c.execute("INSERT INTO Tourism_2018 VALUES ")

In [11]:
# Import required modules
import pandas as pd

In [13]:
# Create a values as dictionary of lists
raw_data = {'0': ['Quater', 'January-March', 'April-June', 'July-September', 'October-December'], 
        '1': ['Visitors Region', 'EMEA', 'AMERICAS', 'ASIA', 'OTHER'], 
        '2': ['Duration of Stay', '1-3  nights', '4-7  nights', '8-14 nights', '15+  nights'], 
        '3': ['Reason for Trip', 'Holiday / Leisure', 'Friends / Relatives', 'Business', 'Other']}

# Create a dataframe
df = pd.DataFrame(raw_data)

# View a dataframe
df

                  0                1                 2                    3
0            Quater  Visitors Region  Duration of Stay      Reason for Trip
1     January-March             EMEA       1-3  nights    Holiday / Leisure
2        April-June         AMERICAS       4-7  nights  Friends / Relatives
3    July-September             ASIA       8-14 nights             Business
4  October-December            OTHER       15+  nights                Other

# References

https://pynative.com/python-random-module/
https://www.dataquest.io/blog/how-to-analyze-survey-data-python-beginner/
https://www.cso.ie/en/statistics/
https://www.tourismireland.com/TourismIreland/media/Tourism-Ireland/Research/FactsFigures2018.pdf?ext=.pdf

Video Tutorials:

Python Tutorial: Generate Random Numbers and Data Using the random Module - https://www.youtube.com/watch?v=KzqSDvzOFNA